@model IEnumerable<WebStokTakip.Models.Product>

@{
    ViewBag.Title = "Ürün Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <div style="float:left;">
                <a href="/Product/Create" class="btn btn-primary"><i class="fa-regular fa-square-plus"></i> Ürün Ekle</a>
            </div>
            <div style="float:right;">
                <button type="submit" class="btn btn-info"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div style="width:25%; float:right;">
                @Html.TextBox("searched", null, new { @class = "form-control", @placeholder = "Aranacak kelimeyi giriniz" })
            </div>
        </div>
    }

    <table class="table table-bordered table-striped" style="margin-top:75px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shelf.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>İşlemler</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shelf.Name)
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <span class="badge badge-success"><i class="fa-solid fa-check"></i> Evet</span>
                    }
                    else
                    {
                        <span class="badge badge-danger"><i class="fa-solid fa-xmark"></i> Hayır</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                    @if (Context.User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    }
                </td>
            </tr>
        }
    </table>
</div>